In [1]:
print('My Name is Saanvi Samantsinghar')

My Name is Saanvi Samantsinghar

In [2]:
x = 100
y = 200
me = swagati
she = siddhi

NameError: name 'swagati' is not defined

In [3]:
myName = 'Swagati Sarangi'

In [4]:
print(x, y, myName)

100 200 Swagati Sarangi

In [5]:
my name is chetan samantsinghar

SyntaxError: invalid syntax (3533273705.py, line 1)

In [6]:
print(my name is chetan samantsinghar)

SyntaxError: invalid syntax (1380028473.py, line 1)

In [7]:
print('my name is chetan samantsinghar')

my name is chetan samantsinghar

In [8]:
 x =100, y = 200

SyntaxError: cannot assign to literal (2249369085.py, line 1)

In [9]:
x = 100
y = 200

In [10]:
print(x, y)

100 200

In [11]:
myName = Chetan Samantsinghar

SyntaxError: invalid syntax (3918175908.py, line 1)

In [12]:
myname = 'Swagati Sarangi'
husbnadname = 'chetan samantsinghar'
daughtername = 'Saanvi Samantsinghar'

In [13]:
print(myname, husbandname, daughtername)

NameError: name 'husbandname' is not defined

In [14]:
print(myname, husbnadname, daughtername)

Swagati Sarangi chetan samantsinghar Saanvi Samantsinghar

In [15]:
print(type('x'))

<class 'str'>

In [16]:
print(type('myname, husbnadname, daughtername'))

<class 'str'>

In [17]:
print(type('x = 100'))

<class 'str'>

In [18]:
print('MY DAUGHTER'S,'NAME IS SAANVI SAMANTSINGHAR')

SyntaxError: invalid syntax (729446603.py, line 1)

In [19]:
PRINT('MY DAUGHTER''S NAME IS SAANVI SAMANTSINGHAR')

NameError: name 'PRINT' is not defined

In [20]:
print('MY DAUGHTER''S NAME IS SAANVI SAMANTSINGHAR)

SyntaxError: EOL while scanning string literal (2620849065.py, line 1)

In [21]:
print('MY DAUGHTER','S NAME IS SAANVI SAMANTSINGHAR')

MY DAUGHTER S NAME IS SAANVI SAMANTSINGHAR

In [22]:
print("I am loving it")

I am loving it

In [23]:
print('100,200,300')

100,200,300

In [24]:
print("My Daughter's name is Saanvi Samantsinghar")

My Daughter's name is Saanvi Samantsinghar

In [25]:
1st = 27/08/22
2nd = 28/08/22

SyntaxError: invalid syntax (2923613887.py, line 1)

In [26]:
one = 27/08/22
two = 28/08/22

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3469691648.py, line 1)

In [27]:
one = 27/o8/22
two = 28/o8/22

NameError: name 'o8' is not defined

In [28]:
one = 27/0o8/22

SyntaxError: invalid digit '8' in octal literal (1102846781.py, line 1)

In [29]:
one = 27/0 8/22

SyntaxError: invalid syntax (4083274227.py, line 1)

In [30]:
one = 27/O8/22

NameError: name 'O8' is not defined

In [31]:
one = 27/8/22

In [32]:
two = 28/8/22

In [33]:
print(one, two)

0.1534090909090909 0.1590909090909091

In [34]:
x = 24+24

In [35]:
y= 999+1

In [36]:
print(x , y)

48 1000

In [42]:
emi = 6256+3142+8000+1785+3042+6500

In [40]:
print(emi)

emi = +2119

In [ ]:
print(emi)